*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif; 
}
.body{
    background-color: #eee;

}

.wrapper {
    width: auto;
    height: auto;
}

/*------------------------------------------- sidebar-------------------------------- -----*/


.list_sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 90px;
    overflow: hidden;
    background-color: #00FFFF;
    transition: width 0.3s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);  
    border-radius: 5px; 
}
.list_sidebar a{
    position: relative;
    color: #212529;
    font-size: 17px;
    display: table;
    width: 300px;
    padding: 10px;
}
.list_sidebar .bx{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 18px;
    margin-left: 10px;

}
.list_sidebar a:hover{
    background-color: #00CED1;
    width: 250px;
}
.list_sidebar:hover {
    width: 250px;
    transition: all 0.3s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}


/*--------------------------------------Container----------------------------------*/

.container{
    width: 93.5%;
    float: right;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);  
}
.container h2{
    margin: 30px;
    color: #121212;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}


.card {
    width: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
}

.card h2 {
    margin: 30px;
    color: #121212;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.card h4{
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

.list_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.list_menu li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.list_menu li a {
    display: block;
    padding: 10px 20px;
    background-color: #00FFFF;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.list_menu li a:hover {
    background-color: #00CED1;
}

.list_output{
    display: flex;
    list-style: none;
    margin-right: 10px;
}
.list_output a {
    
    margin-left:10px ;
    padding: 10px;
    background-color: #00FFFF;
    color: #121212;
    border-radius: 5px;
}

.list_output a:hover {
    background-color: #00CED1;
}

.list_tool{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

#search input[type="text"] {
    margin-left: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    width: 300px;
}

#search input[type="submit"] {
    padding: 10px;
    background-color: #00FFFF;
    border-radius: 10px;
    margin-left: 10px;
    color: #121212;
    border: none;
    font-size: 18px;
    background-color: #00FFFF;
    
}
#search input[type="submit"]:hover {
    background-color: #00CED1;
}

.add_node{
    display: flex;
    list-style: none;   
}
.add_node a{
    padding: 12px;
    background-color: #00FFFF;
    border-radius: 10px;
    margin-left: 10px;
}
.add_node a:hover {
    background-color: #00CED1;
}
.add_node i{
    color: #121212;
}
.add_node span{
    font-size: 18px;
    color: #121212;
}

/*----------------------------content----------------------------*/
.content{
    padding: 5px;
}
.table {
    width: 100%;
    color: #212529;
    border-collapse: collapse;
    box-shadow: #ced4da;
}

.table th,td {
    padding: 12px;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    text-align: left;
    border-bottom: 2px solid #dee2e6;
    background-color: #343a40;
    color: white;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table tbody td a:hover {
    text-decoration: underline;
}

.table tbody td li {
    list-style: none;
}

.tool-content{
    display: flex;
}

.fix-content{
    color: #007bff;
    text-decoration: none;
    list-style: none;
}
.update {
    width: 100%;
    background-color: #f8f9fa;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update h2 {
    margin-top: 0;
    color: #333;
}

.update label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.update input[type="text"],input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00FFFF;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update input[type="submit"]:hover {
    background-color: #00CED1;
}

.delete-content{
    color: red;
    text-decoration: none;
    margin-left: 15px;
    list-style: none;
}
.status2 p {
    width: 100%;
    padding: 10px;
    background-color: #f8d7da;
    color: red;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.status1 p {
    width: 100%;
    padding: 10px;
    background-color: #7efca0;
    color: green;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/*-------------------------add-sv-------------------------*/
.add {
    width: 100%;
    background-color: #f8f9fa;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add h2 {
    margin-top: 0;
    color: #333;
}

.add label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.add input[type="text"],input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00FFFF;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add input[type="submit"]:hover {
    background-color: #00CED1;
}

/*----------------------------chart--------------------*/


.chart_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 30px;
}

.chart_menu li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.chart_menu li a {
    display: block;
    padding: 10px 20px;
    background-color: #00FFFF;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.chart_menu li a:hover {
    background-color: #00CED1;
}

.chart-info{
    display: grid;
    grid-template-columns: auto 700px;
    margin-left: 30px;
}
#myPieChart {
    max-width: 600px;
    max-height: 400px;
    margin: 0 auto;
    display: block;
}
.table-chart{
    width: auto;
}

/*--------------------------------------HOME-------------------------------*/

.home{
    background-image: url(../image/Background.jpg);
    background-size: cover;
    margin: 50px;
    border: 2px solid #121212;
    height: 900px;
}
.home h3 {
    margin-top: 30px;
    text-align: left;
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 20px;

}
.home p{
    text-align: left;
    font-size:17px ;
    width: 300px;
}
.logo img{
    height: 100px;
    width: 100px;   
}


/* style :user*/
.info{
    width: auto;
    height: 750px;
}
.info h2{
    text-align: left;
    margin-bottom: 80px;
}
.info h3{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
.info_1{
    padding: 50px;
    background-color: #00FFFF;
    border-radius:10px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 500px 500px  300px;
    margin-bottom: 20px;
}
.info_1 p{
    text-align: left;
    font-size: 18px;
    margin: 10px;
}
.info_1 img{
    width: 100px;
    height: 100px;
    float: inline-start;
}
.info_2{
    padding: 50px;
    background-color: #00FFFF;
    border-radius:10px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 500px 500px  300px;
}
.info_2 p{
    text-align: left;
    font-size: 18px;
    margin: 10px;
}
.background{
    background-image: url(../image/Background.jpg);
}